<div class="container">

  <div *ngFor="let item of items" class="pricing-table" [class.featured]="item.Default">
    <div class="pricing-table-header">
      <h1>{{item.Name}}</h1>
    </div>

    <div class="pricing-table-content">
      <smd-content [raw]="item.Detail"></smd-content>
    </div>

    <div *ngIf="!item.Contact" class="pricing-table-footer">
      <h2><sup>￥</sup>{{item.Price|money}}/{{item.Unit}}</h2>
      <md-select required="true" [(ngModel)]="num">
        <md-option *ngFor="let num of nums" [value]="num">{{num}}{{item.Unit}}</md-option>
      </md-select>
      <a (click)="gotoBuy(item,num)"><i class="fa fa-2x fa-check"></i></a>
    </div>
    <div *ngIf="item.Contact" class="pricing-table-footer">
      <a (click)="gotoContact()"><i class="fa fa-2x fa-comments-o"></i></a>
    </div>
  </div>

</div>